/* Form fields
========================================================================== */

@include placeholder {
	color: $color-03;
	font-style: italic;
	@include transition(color 0.3s ease-in-out);
}

:focus{@include placeholder {
	color: $color-03;
}}

input[type='text'], input[type='email'], input[type='url'], input[type='button'], input[type='reset'], input[type='submit'], button, textarea {
	outline: 0;
	border: 1px solid $color-03;
}

input[type='text'], input[type='email'], input[type='url'], select, textarea {
	margin: 0 0 20px 0;
}

p {
	input[type='text'], input[type='email'], input[type='url'], select, textarea {
		margin: 0;	
	}
}

input[type='text'], input[type='email'], input[type='url'], select {
	padding: 0 10px;
}

textarea {
	padding: 10px;
}

select option {
	color: red;
}

label {
	display: block;
	margin: 0 0 5px 0;
}