/* Layout
========================================================================== */

.wrapper {
	margin: 0 auto;
	max-width: 1320px;
	width: auto;
	padding: 0 20px;
}

.menu, .pagination > .page-numbers, .navigation-links ul {
	&, li, ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
