/* 1199 Breakpoint
========================================================================== */

@include respond(em(1199)) {
	// wordpress.scss 
	.gallery.gallery-columns-9 {
		@include gallery-columns(8, responsive);
	}	
}

/* 1099 Breakpoint
========================================================================== */

@include respond(em(1099)) {
	// wordpress.scss 
	.gallery {
		&.gallery-columns-8, &.gallery-columns-9 {
			@include gallery-columns(7, responsive);
		}
	}		
}

/* 899 Breakpoint
========================================================================== */

@include respond(em(899)) {
	// wordpress.scss 
	.gallery {
		&.gallery-columns-7, &.gallery-columns-8, &.gallery-columns-9 {
			@include gallery-columns(6, responsive);
		}
	}
}

/* 768 Breakpoint
========================================================================== */

@include respond(em(768)) {
	// form-fields
	input[type='text'], input[type='email'], input[type='url'], select, textarea {
		font-size: rem(16px)
	}

	// header.scss
	.mobile-menu-button {
	    display: block;
	}
	.mobile-open {
		position: relative;
		overflow: hidden;
	}
	html.mobile-open {
		height: 100%;
		margin-top: 0 !important;
		body.mobile-open.logged-in {
			padding-top: 46px;
		}
	}
}

/* 699 Breakpoint
========================================================================== */

@include respond(em(699)) {
	// wordpress.scss 
	.gallery {
		&.gallery-columns-3, &.gallery-columns-4 {
			max-width: none;
		}
		&.gallery-columns-6, &.gallery-columns-7, &.gallery-columns-8, &.gallery-columns-9 {
			@include gallery-columns(5, responsive);
		}
	}
}

/* 499 Breakpoint
========================================================================== */

@include respond(em(499)) {
	// wordpress.scss
	.gallery {
		&.gallery-columns-1, &.gallery-columns-2 {
			max-width: none;
		}		
		&.gallery-columns-5, &.gallery-columns-6, &.gallery-columns-7, &.gallery-columns-8, &.gallery-columns-9 {
			@include gallery-columns(4, responsive);
		}
	}	
}