// "**" means default value

.flex-wrapper {
	display: flex;
	// flex-direction: row; // **row | row-reverse | column | column-reverse
	// flex-wrap: nowrap; // **nowrap | wrap | wrap-reverse
	flex-flow: row nowrap; // shorthand of direction and wrap
	justify-content: flex-start; // **flex-start | flex-end | center | space-between | space-around
	align-items: stretch; // flex-start | flex-end | center | baseline | **stretch
	align-content: stretch; // flex-start | flex-end | center | space-between | space-around | **stretch
}

.flex-item {
	border: 1px dashed #000;
	padding: 10px;	
	flex: 1 100%; // distributes all items evenly
	&.blue {
		background: blue + #444;
		order: 2; // defines order
		flex: 1 0 50%;
		// flex-grow: 0; // increase growth on an item. if all have a value of 1, distrubition is even. 2 = twice the space as the others. negates width.
		// flex-shrink: 1; // like the above, but negative
		// flex-basis: auto; // <length> | **auto
		// flex: 0 1 auto; // shorthand of grow, shrink, basis
		// align-self: stretch; overrides value of an item set by align-items, auto | flex-start | flex-end | center | baseline | **stretch
	}
	&.red {
		background: red + #444;
		order: 3;
	}
	&.orange {
		background: orange + #444;
		order: 5;
	}
	&.green {
		background: green + #444;
		order: 1;
	}
	&.purple {
		background: purple + #444;
		order: 4;
	}
}

