/* General layout
============================================== */

.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
	&.full-wrapper {
		max-width: none;
	}
}

.flex-row, .flex-row-nowrap {
	.flex-column {
		@include flex(base);
	}
	&.flex-row-05 {
		margin: 0 -5px;
		.flex-column {
			padding: 0 5px;
		}
	}
	&.flex-row-10 {
		margin: 0 -10px;
		.flex-column {
			padding: 0 10px;
		}
	}
	&.flex-row-20 {
		margin: 0 -20px;
		.flex-column {
			padding: 0 20px;
		}
	}
	&.flex-row-30 {
		margin: 0 -30px;
		.flex-column {
			padding: 0 30px;
		}
	}
}

.flex-row {
	@include flex-flow(row wrap);
}

.flex-row-nowrap {
	@include flex-flow(row nowrap);
}

.flex-row-center {
	align-items: center;
}

/* Main Layout
============================================== */

#container .wrapper {
	.flex-row-nowrap {
		#content {
			flex: 1 1 0%;
		}
		#sidebar {
			flex: 0 0 250px;
		}
	}
}

/* Positioned Images
============================================== */

.image-fit {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	&.image-fit-default img {
		@include sr-only;
	}
}

@include respond(em(769), $type: min-width) {
	.image-fit.image-fit-responsive {
		background-position: -9999px -9999px;
	}
}

/* Search Form
============================================== */

.search-form {
	.flex-row-nowrap {
		.search-form-label, .search-form-submit {
			@include flex;
		}
		.search-form-label {
			width: 100px;
			label {
				margin: 0;
			}
		}
		.search-form-submit {
			width: 100px;
			.button {
				width: 100%;
			}
		}
	}
}
