// Paths
// ============================================== //

$assets: './assets';
$fonts: $assets + '/fonts/';
$images: $assets + '/images/';

// Fonts
// ============================================== //

$base-font-size: 16;
$global-font-size: 14px;
$serif-fb: Garamond, 'Times New Roman', serif;
$sans-serif-fb: Arial, sans-serif;
$font-01: Verdana, $sans-serif-fb;
$font-02: Georgia, $serif-fb;

// Other
// ============================================== //

$main-spacing: 20px;
$mobile-menu-width: 300px;
$button-fields: "[type='button'], [type='reset'], [type='submit']";
$check-fields: "[type='checkbox'], [type='radio']";
$input-fields: "[type='number'], [type='search'], [type='text'], [type='url']";
