/* Colors
========================================================================== */

$color-01: #ffffff; // white
$color-02: #000000; // black

/* Fonts
========================================================================== */

$base-font-size: 16;
$global-font-size: 14px;
$serif-fb: garamond, times new roman, serif;
$sans-serif-fb: arial, sans-serif;
$font-01: 'Fira Sans', $sans-serif-fb;
$font-02: 'Spectral', $serif-fb;
$font-03: 'Selima', $sans-serif-fb;
