/* Colors
========================================================================== */

$color-01: #ffffff; // white
$color-02: #000000; // black
$color-03: #333333; // blackish
$color-04: #393e86; // blue
$color-05: #17476d; // dark blue

/* Fonts
========================================================================== */

$base-font-size: 16;
$global-font-size: 14px;
$serif-fb: garamond, times new roman, serif;
$sans-serif-fb: arial, sans-serif;
$font-01: 'Arial Narrow', $sans-serif-fb;
$font-02: 'Spectral', $serif-fb;
$font-03: 'Selima', $sans-serif-fb;
