// Helpers
@import 'variables';
@import 'mixins';

/* Hello Content! by Memoria / displaycoffee.
Last updated 07.20.18.
Please do not remove credits! */

/* Friends Not Food - Overall Styles */

.fnf {
	width: auto;
    max-width: 375px; /* max template width */
    margin: 0 auto; /* remove to take away centering */
    font-family: $sans-serif-fb; /* default font family */
    font-size: 12px;
	line-height: 18px;
    color: $color-01; /* default font color */
	&, & * {
		box-sizing: border-box;
	}
	.fnf-name, .fnf-title, .fnf-block > span, .fnf-hover-button {
		font-family: $font-01; /* title font family */
		font-weight: bold;
	    text-transform: uppercase;
	}
	.fnf-name, .fnf-hover-button {
		font-size: 18px;
		text-shadow: 2px 2px 0 rgba($color-02, 0.75);
	}
	.fnf-information, .fnf-more {
		padding: 20px;
		@include transition(opacity 1.5s ease-in-out);
	}
}

/* Friends Not Food - Wrapper */

.fnf .fnf-wrapper {
    background: url('//i.imgur.com/F0yxEua.jpg') no-repeat 0 0; /* background image */
    background-size: cover;
    padding: 0 0 60px 0;
	position: relative;
}

/* Friends Not Food - Blocks */

.fnf .fnf-block {
	background: rgba(23, 71, 109, 0.6); /* block colors - keep rgba for transparency */
	padding: 5px 10px;
}

/* Friends Not Food - Top Bar */

.fnf .fnf-top-bar {
    width: auto;
    background: $color-05; /* header background color */
    margin: -20px -20px 0 -20px;
    padding: 20px 180px 20px 20px;
    position: relative;
	.fnf-name, .fnf-species {
		@include ellipsis;
	}
	.fnf-name {
		margin: 45px 0 0 0;
	}
	.fnf-species {
		margin: 5px 0 0 0;
		font-size: 14px;
	}
	.fnf-avatar {
		border-radius: 100%;
		overflow: hidden;
		@include sizing(125px, 125px);
		@include position($type: absolute, $bottom: -70px, $right: 20px);
	    line-height: 0;
	    border: 10px solid $color-05; /* avatar border color */
		img {
			max-width: 100%;
		}
	}
}

/* Friends Not Food - Profile */

.fnf .fnf-profile {
    margin: 90px 0 0 0;
	.fnf-title, .fnf-grid {
		text-align: center;
	}
	.fnf-block span {
		display: block;
		margin: 2px 0 0 0;
	}
	.fnf-title {
		margin: 0 0 4% 0;
		font-size: 14px;
	}
	.fnf-grid {
		@include clearfix('&');
		margin: 0 -2%;
		.fnf-column {
			float: left;
			width: 46%;
			margin: 0 2% 4% 2%;
		}
	}
	.fnf-quote span {
		text-align: right;
	}
}

/* Friends Not Food - More Information */

.fnf .fnf-more {
	@include position($type: absolute, $top: 0, $bottom: 60px, $left: 0, $right: 0, $z: 1);
	margin: auto;
	@include toggle-content(hide, false);
	.fnf-block {
		height: 48%;
		overflow: hidden;
	}
	.fnf-divider {
		height: 4%;
	}
}

/* Friends Not Food - Hover Button & Animation */

.fnf .fnf-hover-button {
    text-align: center;
    background: $color-05; /* button background color */
    padding: 0 20px;
	margin: 20px -20px -20px -20px;
    line-height: 60px;
    cursor: pointer;
	@include position($type: absolute, $bottom: 20px, $left: 20px, $right: 20px, $z: 1);
	&:hover {
		& ~ .fnf-information {
			@include toggle-content(hide, false);
		}
		& ~ .fnf-more {
			@include toggle-content(show, false);
			z-index: 2;
		}
	}
}

/* Friends Not Food - Responsive */

@include respond(420) {
	.fnf {
		.fnf-top-bar {
			padding: 20px 20px 60px 20px;
			text-align: center;
			.fnf-name {
				margin-top: 0;
			}
			.fnf-avatar {
				@include position($bottom: -50px, $left: 0, $right: 0);
				margin: auto;
				@include sizing(100px, 100px);
				border-width: 5px;
			}
		}
		.fnf-profile {
			margin-top: 70px;
			.fnf-grid .fnf-column {
				float: none;
				width: auto;
			}
		}
	}
}
